body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.caminante {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 115rem;
    margin-top: 400px;
    animation: caminar 1s infinite, movimiento 10s linear infinite;
}
a {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    background-color: #a76d6d;
    border-radius: 15px;
    text-decoration: none;
    color: #000000;
    z-index: 1;
}

a:hover {
    background-color: #665d5d;
}

@keyframes caminar {
    0% {
        background-image: url(img/uno.png);
    }

    10% {
        background-image: url(img/dos.png);
    }

    20% {
        background-image: url(img/tres.png);
    }

    30% {
        background-image: url(img/cuatro.png);
    }

    40% {
        background-image: url(img/cinco.png);
    }

    50% {
        background-image: url(img/seis.png);
    }

    60% {
        background-image: url(img/siete.png);
    }

    70% {
        background-image: url(img/ocho.png);
    }

    80% {
        background-image: url(img/nueve.png);
    }

    90% {
        background-image: url(img/diez.png);
    }

    100% {
        background-image: url(img/uno.png);
    }

}
@keyframes movimiento {
    100% {
        left: -25rem;
    }
}